.comment-section {
    max-width: 600px;
    margin: 0 auto;
    background-color: #2671cd; 
    padding: 20px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.comment-display {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #07814a;
}

.comment-list {
    margin-top: 20px;
}

.parents {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #11b1bc; /* Warna kotak komentar */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment-content {
    flex-grow: 1;
}

.comment-content h3 {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: bold;
}

.comment-content p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.4;
}

.date {
    display: block;
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}
